.about {
  padding-top: 120px;
  &__wrapper {
    display: grid;
    grid-template-columns: 400px 670px;
    grid-template-rows: minmax(245px, auto) minmax(255px, auto);
    grid-auto-rows: minmax(245px, auto);
    column-gap: 70px;
    row-gap: 40px;
  }
  &__photo {
    grid-row: 1/3;
    img {
      width: 100%;
    }
  }

}