@media (max-width: 1439px) {
  .container {
    max-width: 960px;
  }
  .sidepanel {
    display: none;
  }
}

@media (max-width: 1200px) {
  .promo {
    .container {
      max-width: 960px;
    }
  }
  .about {
    .container {
      max-width: 960px;
    }
    &__wrapper {
      grid-template-columns: 400px 510px;
      column-gap: 40px;
    }
    &__skills {
      column-gap: 20px;
      grid-template: repeat(2,minmax(115px,auto))/repeat(2,250px);
      &-item {
        column-gap: 15px;
        grid-template-columns: 40px 195px;
      }
    }
  }
  .resume {
    .container {
      max-width: 960px;
    }
    &__wrapper {
      padding: 60px 35px 0 35px;
      grid-template-columns: repeat(2,400px);
      column-gap: 100px
    }
  }
  .skills {
    .container {
      max-width: 960px;
    }
    &__wrapper {
      padding-left: 20px;
      padding-right: 20px;
      grid-template-columns: repeat(3,270px);
      grid-auto-rows: 270px;
      grid-column-gap: 50px;
      grid-row-gap: 20px;
    }
    &__wrap {
      margin-top: 100px;
      padding-left: 90px;
      grid-template-columns: repeat(2,350px);
      grid-column-gap: 65px;
      grid-row-gap: 40px;
    }
  }
  .portfolio {
    .container {
      max-width: 960px;
    }
    &__wrapper {
      .horizontal {
        grid-row: unset;
        grid-column: unset;
      }
      .vertical {
        grid-row: unset;
        grid-column: unset;
      }
    }
  }
}

@media (max-width: 992px) {
  .promo {
    .container {
      max-width: 720px;
    }
  }
  .about {
    .container {
      max-width: 720px;
    }

    &__wrapper {
      grid-template-columns: 300px 380px;
    }

    &__skills {
      grid-template-columns: 380px;
      grid-auto-rows: minmax(115px, auto);

      &-item {
        grid-template-columns: 40px 320px;
        column-gap: 20px;
      }
    }

    .title {
      &_fz36 {
        font-size: 30px;
      }
    }
  }
  .resume {
    .container {
      max-width: 720px;
    }
    &__wrapper {
      padding: 60px 65px 0 85px;
      grid-template-columns: 500px;
      row-gap: 60px;
    }
    .title {
      &_fz36 {
        font-size: 30px;
      }
    }
  }
  .skills {
    .container {
      max-width: 720px;
    }
    &__wrapper {
      padding-left: 60px;
      padding-right: 60px;
      grid-template-columns: repeat(2,270px);
    }
    &__wrap {
      padding-left: 20px;
      grid-template-columns: repeat(2,300px);
    }
    .progress__wrapper-percent {
      margin-left: 260px;
    }
    .title {
      &_fz36 {
        font-size: 30px;
      }
    }
  }
}

@media (max-width: 768px) {
  .promo {
    .container {
      max-width: 540px;
    }
    .title {
      &_fz48 {
        font-size: 28px;
      }
    }
    &__title {
      width: 300px;
      line-height: 39px;
    }
  }
  .about {
    padding-top: 40px;
    .container {
      max-width: 540px;
    }
    &__wrapper {
      grid-template: 400px auto auto / 1fr;
    }
    &__photo {
      grid-row: unset;
    }
    &__skills {
      grid-template-columns: repeat(2, 260px);
      &-item {
        grid-template-columns: 40px 195px;
        column-gap: 25px;
      }
    }
  }
  .resume {
    padding-top: 60px;
    .container {
      max-width: 540px;
    }
    &__wrapper {
      padding: 50px 35px 0 35px;
      grid-template-columns: 450px;
      row-gap: 60px
    }
  }
  .skills {
    .container {
      max-width: 540px;
    }
    &__wrapper {
      padding-left: 135px;
      padding-right: 135px;
      grid-template-columns: 270px;
    }
    &__wrap {
      padding-left: 120px;
      grid-template-columns: 300px;
      row-gap: 60px;
      margin-top: 60px;
    }
  }
}

@media (max-width: 576px) {
  .menu {
    &__block {
      width: 250px;
      padding-left: 20px;
    }
    &__social {
      margin-top: 90px;
    }
  }
  .promo {
    .container {
      width: 300px;
      padding: 0 10px;
    }
    .title {
      &_fz48 {
        font-size: 26px;
      }
    }
    .hamburger {
      right: 20px;
    }
    &__title {
      width: 280px;
      line-height: 36px;
    }
    &__btns {
      margin-top: 30px;
    }
  }

  .about {
    .container {
      width: 300px;
      padding: 0 10px;
    }
    &__wrapper {
      grid-template: 340px auto auto / 1fr;
    }
    &__skills {
      grid-template-columns: 1fr;
    }
    .title {
      &_fz36 {
        font-size: 24px;
      }
    }
  }
  .resume {
    padding-top: 40px;
    .container {
      width: 300px;
      padding: 0 10px;
    }
    &__wrapper {
      padding: 40px 12px 0 8px;
      grid-template-columns: 280px;
      row-gap: 40px
    }
    .title {
      &_fz36 {
        font-size: 24px;
      }
    }
    .divider {
      margin: 15px auto 0 auto;
    }
    .title {
      &_fz20 {
        font-size: 14px;
      }
    }
  }
  .skills {
    .container {
      width: 300px;
      padding: 0 10px;
    }
    &__wrapper {
      margin-top: 30px;
      padding-left: 15px;
      padding-right: 15px;
    }
    &__wrap {
      padding-left: 0;
      margin-top: 40px;
    }
    .title {
      &_fz36 {
        margin-top: 20px;
        font-size: 24px;
        line-height: 36px;
      }
    }
    .divider {
      margin: 15px auto 0 auto;
    }
  }
}