@media (max-width: 1439px) {
  .container {
    max-width: 960px;
  }
  .sidepanel {
    display: none;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 768px) {
  .promo {
    .container {
      max-width: 540px;
    }
    .title {
      &_fz48 {
        font-size: 28px;
      }
    }
    &__title {
      width: 300px;
      line-height: 39px;
    }
  }
}

@media (max-width: 576px) {
  .menu {
    &__block {
      width: 250px;
      padding-left: 20px;
    }
    &__social {
      margin-top: 90px;
    }
  }
  .promo {
    .container {
      width: 100%;
      padding: 0 10px;
    }
    .title {
      &_fz48 {
        font-size: 26px;
      }
    }
    .hamburger {
      right: 20px;
    }
    &__title {
      width: 280px;
      line-height: 36px;
    }
    &__btns {
      margin-top: 30px;
    }
  }
}