.skills {
  padding-top: 120px;
  &__wrapper {
    margin-top: 60px;
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    grid-template-columns: repeat(4, 270px);
    grid-template-rows: repeat(2, 270px);
    grid-column-gap: 13px;
    grid-row-gap: 13px;
  }
  &__item {
    position: relative;
    border: 1px solid black;
    padding: 30px 30px 25px 30px;
    &-jq {
      padding: 45px 30px 25px 30px;
      position: relative;
      border: 1px solid black;
    }
    &-mongo {
      padding: 38px 30px 25px 30px;
      position: relative;
      border: 1px solid black;
    }
    &-name {
      margin-top: 20px;
    }
    &-jname {
      margin-top: 33px;
    }
    &-m_name {
      margin-top: 32px;
    }
  }
  .slills__descr {
    margin-top: 15px;
    font-size: 12px;
    line-height: 18px;
  }
}

  .skills__wrap {
    margin-top: 120px;
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(2, 70px);
    grid-column-gap: 45px;
    grid-row-gap: 30px;
}
  .progress__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    .title {
      position: absolute;
      padding-left: 13px;
      @include before_circle;
      &:before {
        content: '';
        top: -36%;
      }
    }
  }
  .progress__wrapper-percent {
    margin-left: 320px;
  }

  .line__wrapper {
    width: 100%;
    position: relative;
    margin-top: 27px;
    &-gray {
      width: 350px;
      height: 14px;
      background: #E8E4DE;
      border-radius: 4px;
    }
    &-yellow{
      position: absolute;
      top: 0;
      height: 14px;
      background: #FFA501;
      border-radius: 4px;
    }
  }

